name: Build CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build Main Branch
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up Java JDK
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: "corretto"

      - name: Cache Maven Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Verify Maven
        run: mvn -v

      #Run tests using in-memory DB + dummy env vars
      - name: Build and Run Tests
        env:
          SPRING_PROFILES_ACTIVE: test
          SPRING_DATASOURCE_URL: jdbc:h2:mem:testdb
          SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.h2.Driver
          SPRING_DATASOURCE_USERNAME: sa
          SPRING_DATASOURCE_PASSWORD:
          SPRING_JPA_HIBERNATE_DDL_AUTO: create-drop
          APPLICATION_SECURITY_JWT_SECRET_KEY: dummy_secret
          APPLICATION_SECURITY_JWT_EXPIRATION: 3600000
          SPRING_MAIL_HOST: localhost
          SPRING_MAIL_PORT: 2525
        run: mvn clean verify -Dspring.profiles.active=test

      - name: Package Application (Skip tests for faster artifact build)
        run: mvn clean package -DskipTests

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar
